<!DOCTYPE html>
<html>

<head>
  <title>TalkTrek О программе</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
  <link rel="stylesheet" href="../../../src/assets/styles/translate.css">
  <link rel="stylesheet" href="../../../src/assets/styles/main.css">
  <link rel="stylesheet" href="../../../src/assets/styles/me.css">
</head>

<body>
    <header>
        <i class="fa fa-chevron-left" id="goMainBtn"></i>
        <h1>TalkTrek</h1>
    </header>
<div class="center">
	<div class="login register">
		<div class="logo"></div>
		<div class="content">
			<form id="app">
				<h3 class="title">Руководитель проекта, разработчик</h3>
				<div class="name-group">
					<label for="username" id="userLabel">Имя разраба (back-end)</label>
					<h3 class="title" id="username">Александр Смыслов</h3>
					<!-- <p class="help-block">Ваш URL: http://talktrek.ru/<span id="user"></span></p> -->
				</div>
			</form>
		</div>
		<div class="login register">
			<div class="logo"></div>
			<div class="content">
				<form id="app">
					<h3 class="title">Исполнитель проекта</h3>
					<div class="name-group">
						<label for="username" id="userLabel">Имя разраба (front-end)</label>
						<h3 class="title" id="username">Мария Тузинец</h3>
						<!-- <p class="help-block">Ваш URL: http://talktrek.ru/<span id="user"></span></p> -->
					</div>
				</form>
			</div>
			<div class="login register">
				<div class="logo"></div>
				<div class="content">
					<form id="app">
						<h3 class="title">Дизайнер приложения</h3>
						<div class="name-group">
							<label for="username" id="userLabel">Имя дизайнера (front-end)</label>
							<h3 class="title" id="username">Михаил Матвеев</h3>
							<!-- <p class="help-block">Ваш URL: http://talktrek.ru/<span id="user"></span></p> -->
						</div>
					</form>
				</div>
				<div class="login register">
					<div class="logo"></div>
					<div class="content">
						<form id="app">
							<h3 class="title">Программист, проектировщик БД</h3>
							<div class="name-group">
								<label for="username" id="userLabel">Имя разраба (back-end)</label>
								<h3 class="title" id="username">Дмитрий Терещенко</h3>
								<!-- <p class="help-block">Ваш URL: http://talktrek.ru/<span id="user"></span></p> -->
							</div>
						</form>
					</div>
		<footer>
			<!-- <p>ффффффффффф <a href="" class="terms">ооооооооо</a> -->
			</p>
		</footer>
	</div>
</div>
<script src="../../../src/assets/scripts/local/about.js"></script>
</body>
</html>