<!DOCTYPE html>
<html>

<head>
  <title>TalkTrek Вход</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="src/assets/styles/auth.css">
</head>

<body>

  <div class="cotn_principal">
    <div class="cont_centrar">
      <div class="cont_login">
        <div class="cont_info_log_sign_up">
          <div class="col_md_login">
            <div class="cont_ba_opcitiy">
              <h2>Войти</h2>
              <p>У вас уже есть логин?</p>
              <button class="btn_login" onclick="showLogin()">Войти</button>
            </div>
          </div>
          <div class="col_md_sign_up">
            <div class="cont_ba_opcitiy">
              <h2>Регистрация</h2>
              <p>Нет логина?</p>
              <button class="btn_sign_up" onclick="showRegForm()">Зарегистрироваться</button>
            </div>
          </div>
        </div>
        <div class="cont_back_info">
          <div class="cont_img_back_grey">
            <i class="fa fa-times" id="close"></i>
            <!-- <img src="https://dev.kertblam.com/uploads/gifts/gif/3p0o44wnrx2ckkwww4.jpg" alt="" /> -->
          </div>
        </div>
        <div class="cont_forms">
          <div class="cont_img_back_">
            <i class="fa fa-times" id="close"></i>
            <!-- <img src="https://dev.kertblam.com/uploads/gifts/gif/3p0o44wnrx2ckkwww4.jpg" alt="" /> -->
          </div>
          <div class="cont_form_login">
            <a href="#" onclick="hideRegForm()"><i class="material-icons">&#xE5C4;</i></a>
            <h2>Войти</h2>
            <input type="text" placeholder="Логин" id="usernameLog"/>
            <input type="password" placeholder="Пароль" id="passwordLog"/>
            <button class="btn_login" onclick="showLogin()">Войти</button>
          </div>
          <div class="cont_form_sign_up">
            <a href="#" onclick="hideRegForm()"><i class="material-icons">&#xE5C4;</i></a>
            <h2>Регистрация</h2>
            <!-- <input type="text" placeholder="E-mail" /> -->
            <input type="text" placeholder="Логин" id="usernameReg"/>
            <input type="password" placeholder="Пароль" id="passwordReg"/>
            <input type="password" placeholder="Повторите пароль" id="confirmPasswordReg"/>
            <button class="btn_sign_up" onclick="showRegForm()">Зарегистрироваться</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="src/assets/scripts/local/tools.js"></script>
  <script src="src/assets/scripts/local/auth.js"></script>

</body>

</html>