<!DOCTYPE html>
<html>

<head>
  <title>TalkTrek Основная страница</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="../../../src/assets/styles/main.css">
</head>

<body>
  <section id="mobilescreen">
    <!-- <div id="speaker"></div> -->
    <section id="maincontainer">
      <nav id="mainmenu">
        <h2>Личное</h2>
        <i class="fa fa-times" id="close"></i>
        <ul>
          <li id="meBtn">Профиль</li>
          <li id="settingsBtn">Настройки</li>
          <li id="logoutBtn">Ливнуть отсюда)</li>
        </ul>
      </nav>
      <nav id="mainmenu2">
        <h2>Menu</h2>
        <ul>
          <li>Main Page</li>
          <li>Setting</li>
          <li>Logout</li>
        </ul>
      </nav>
      <section id="mainscreen">
        <header>
          <i class="fa fa-align-justify" id="menu"></i>
          <h1>TalkTrek</h1>
          <!-- <i class="fa fa-shopping-cart" id="menu2"></i> -->
        </header>
        <section id="container">
          <p class="intro">User, your current status is...</p>
          <ul id="listlink">
            <li>
              <div></div><span class="titles"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Тесты</span><span
                class="offdata">0</span>
            </li>
            <li id="manualBtn">
              <div></div><span class="titles"><i class="fa fa-book"></i>Учебные материалы</span><span
                class="offdata">0</span>
            </li>
            <li>
              <div></div><span class="titles"><i class="fa fa-bullhorn"></i>Сообщества</span><span class="offdata">0</span>
            </li>
            <li id="translateBtn">
              <div></div><span class="titles" ><i class="fa fa-language" aria-hidden="true"></i></i>Переводчик</span><span
                class="offdata"></span>
            </li>
            <li>
              <div></div><span class="titles"><i class="fa fa-info-circle" aria-hidden="true"></i></i>Поддержка</span><span
                class="offdata"></span>
            </li>
            <!-- <li>
              <div></div><span class="titles"><i class="fa fa-bookmark"></i>Wish List</span><span
                class="offdata"></span>
            </li> -->
          </ul>
        </section>
        <footer>
          <nav><button id="showcode">Show Code</button><button id="buyproduct">Buy Product</button></nav>
        </footer>
      </section>
    </section>
    <!-- <div id="controlder"></div> -->
  </section>
  <script src="../../../src/assets/scripts/local/tools.js"></script>
  <script src="../../../src/assets/scripts/local/main.js"></script>

</body>

</html>