<!DOCTYPE html>
<html>

<head>
    <title>TalkTrek Учебные материалы</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="../../../src/assets/styles/main.css">
    <link rel="stylesheet" href="../../../src/assets/styles/manual.css">
</head>

<body>
    <header>
        <i class="fa fa-chevron-left" id="goMainBtn"></i>
        <h1>TalkTrek</h1>
    </header>
    <main>
        <div class="container">
            <!-- <div class="card" onclick="window.location.href='/src/templates/pages/manuals/lorem.html'" style="--cards:5">
                <div class="child">
                    <h2>Why do I need a will</h2>
                    <h3>Всем прив, я заглушка</h3>
                    <p>Время чтения статьи</p>
                </div>
                <div class="child"></div>
                <div class="child"></div>
                <div class="child"></div>
                <div class="child"></div>
            </div> -->
            
        </div>
    </main>
    <script src="../../../src/assets/scripts/local/tools.js"></script>
    <script src="../../../src/assets/scripts/local/manual.js"></script>

</body>

</html>