<!DOCTYPE html>
<html>

<head>
  <title>TalkTrek Настройки</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
  <link rel="stylesheet" href="../../../src/assets/styles/translate.css">
  <link rel="stylesheet" href="../../../src/assets/styles/main.css">
  <link rel="stylesheet" href="../../../src/assets/styles/settings.css">
</head>

<body>
    <header>
        <i class="fa fa-chevron-left" id="goMainBtn"></i>
        <h1>TalkTrek</h1>
    </header>
<div class="center">
	<div class="login register">
		<div class="logo"></div>
		<div class="content">
			<form id="app">
				<h3 class="title">Настройки профиля</h3>
				<div class="name-group">
					<label for="username" id="userLabel">Имя пользователя</label>
					<input type="text" placeholder="Имя пользователя" id="username" class="form-control" autofocus autocomplete="off" maxlength="13"/>
					<!-- <p class="help-block">Ваш URL: http://talktrek.ru/<span id="user"></span></p> -->	
				<button class="btn" id="changeLogin">Сменить имя</button>

				</div>
				<div class="password-group">
					<label>СМЕНА ПАРОЛЯ</label>
					<label for="password">Старый пароль</label>
					<input type="password" id="oldPass" placeholder="*************" class="form-control" />
					<label for="password">Новый пароль</label>
					<input type="password" id="newPass" placeholder="*************" class="form-control" />
					<!-- <span class="help-block">Не меньше 6 символов</span> -->
					<label for="password">Еще раз новый пароль</label>
					<input type="password" id="newPass2" placeholder="*************" class="form-control" />
					<button class="btn" id="changePass">Поменять пароль</button>
				</div>
			</form>
		</div>
		<footer>
			<!-- <p>By signing up you are agreeing to Gravit's <a href="" class="terms">Terms of Use</a> -->
			</p>
		</footer>
	</div>
</div>
<script src="../../../src/assets/scripts/local/tools.js"></script>
<script src="../../../src/assets/scripts/local/settings.js"></script>
</body>
</html>