<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Language Study and Linguistics Guide</title>
  <link rel="stylesheet" href="../../../../src/assets/styles/manuals/language-linguistics.css">
</head>

<body>
  <main>
    <nav id="navbar">
      <header>Language Study and Linguistics Guide</header>
      <ul>
        <li><a class="nav-link" href="/src/templates/pages/manual.html" style="background-color: rgb(219, 219, 219);">Back to Manuals</a></li>
        <li><a class="nav-link" href="#language">Language Study</a></li>
        <li><a class="nav-link" href="#linguistics">Linguistics</a></li>
        <li><a class="nav-link" href="#references">References</a></li>
      </ul>
    </nav>
    <main id="main-doc">
      <section class="main-section" id="language">
        <header>Language Study</header>
        <article>
          <p>
            Language study involves the exploration of the structure, function, and use of languages for communication. Here are some key aspects of language study:
          </p>
          <ul>
            <li>Learning foreign languages for communication and cultural understanding</li>
            <li>Language acquisition and language learning theories</li>
            <li>Language teaching methodologies and approaches</li>
            <li>Language proficiency assessment and certification</li>
            <li>Language-related skills (reading, writing, listening, speaking)</li>
            <li>Language study resources and tools</li>
          </ul>
        </article>
      </section>
      <section class="main-section" id="linguistics">
        <header>Linguistics</header>
        <article>
          <p>
            Linguistics is the scientific study of language, including its structure, variation, and evolution. Here are some aspects of linguistics:
          </p>
          <ul>
            <li>Phonetics and phonology: sounds and pronunciation</li>
            <li>Morphology: word formation and structure</li>
            <li>Syntax: sentence structure and grammar</li>
            <li>Semantics: meaning in language</li>
            <li>Pragmatics: language use in context</li>
            <li>Sociolinguistics: language in society and culture</li>
          </ul>
        </article>
      </section>
      <section class="main-section" id="references">
        <header>References</header>
        <article>
          <ul>
            <li>
              All the information in this page is based on principles of language learning, linguistic analysis, and language teaching.
            </li>
          </ul>
        </article>
      </section>
      <button class="btn" id="markReadedBtn">I read it!</button>
    </main>
  </main>
  <script src="../../../../src/assets/scripts/local/tools.js"></script>
  <script src="../../../../src/assets/scripts/local/manuals/language-linguistics.js"></script>
</body>

</html>
