<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Literature and Culture Guide</title>
  <link rel="stylesheet" href="../../../../src/assets/styles/manuals/literature-culture.css">
</head>

<body>
  <main>
    <nav id="navbar">
      <header>Literature and Culture Guide</header>
      <ul>
        <li><a class="nav-link" href="/src/templates/pages/manual.html" style="background-color: rgb(219, 219, 219);">Back to Manuals</a></li>
        <li><a class="nav-link" href="#literature">Literature</a></li>
        <li><a class="nav-link" href="#culture">Culture</a></li>
        <li><a class="nav-link" href="#references">References</a></li>
      </ul>
    </nav>
    <main id="main-doc">
      <section class="main-section" id="literature">
        <header>Literature</header>
        <article>
          <p>
            Literature encompasses written or spoken works that express ideas, emotions, and experiences through language and narrative. Here are some key aspects of literature:
          </p>
          <ul>
            <li>Genres of literature (fiction, poetry, drama, non-fiction)</li>
            <li>Literary movements and periods (Renaissance, Romanticism, Modernism)</li>
            <li>Analysis of literary themes, symbols, and motifs</li>
            <li>Exploration of literary techniques and styles</li>
            <li>The role of literature in reflecting and shaping culture</li>
          </ul>
        </article>
      </section>
      <section class="main-section" id="culture">
        <header>Culture</header>
        <article>
          <p>
            Culture refers to the customs, beliefs, values, traditions, and practices shared by a group of people. Here are some aspects of culture:
          </p>
          <ul>
            <li>Cultural heritage and identity</li>
            <li>Cultural diversity and multiculturalism</li>
            <li>Popular culture and mass media</li>
            <li>Cultural artifacts and symbols</li>
            <li>Interactions between culture and society</li>
            <li>The influence of globalization on culture</li>
          </ul>
        </article>
      </section>
      <section class="main-section" id="references">
        <header>References</header>
        <article>
          <ul>
            <li>
              All the information in this page is based on principles of literary analysis, cultural studies, and sociocultural anthropology.
            </li>
          </ul>
        </article>
      </section>
      <button class="btn" id="markReadedBtn">I read it!</button>
    </main>
  </main>
  <script src="../../../../src/assets/scripts/local/tools.js"></script>
  <script src="../../../../src/assets/scripts/local/manuals/literature-culture.js"></script>
</body>

</html>
