<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shopping and Ordering Food</title>
  <link rel="stylesheet" href="../../../../src/assets/styles/manuals/shopping_and_food.css">
</head>
<body>
  <main>
    <nav id="navbar">
      <header>Shopping and Ordering Food</header>
      <ul>
        <li><a class="nav-link" href="/src/templates/pages/manual.html" style="background-color: rgb(219, 219, 219);">Back to Manuals</a></li>
        <li><a class="nav-link" href="#shopping">Shopping</a></li>
        <li><a class="nav-link" href="#ordering_food">Ordering Food</a></li>
        <li><a class="nav-link" href="#References">References</a></li>
      </ul>
    </nav>
    <main id="main-doc">
      <section class="main-section" id="shopping">
        <header>Shopping</header>
        <article>
          <p>
            Navigate the world of shopping with these useful phrases:
          </p>
          <ul>
            <li>How much does this cost?</li>
            <li>Can I pay with a credit card?</li>
            <li>Do you have this in a different size/color?</li>
            <li>Where is the nearest supermarket/market?</li>
            <li>May I have a receipt, please?</li>
            <li>Is there a discount for buying in bulk?</li>
          </ul>
        </article>
      </section>
      <section class="main-section" id="ordering_food">
        <header>Ordering Food</header>
        <article>
          <p>
            Enjoy dining out or ordering in with these common phrases:
          </p>
          <ul>
            <li>Could I see the menu, please?</li>
            <li>I'd like to order...</li>
            <li>Can I have the bill, please?</li>
            <li>Is there a vegetarian/vegan option?</li>
            <li>How spicy is this dish?</li>
            <li>Do you have any recommendations?</li>
          </ul>
        </article>
      </section>
      <section class="main-section" id="References">
        <header>References</header>
        <article>
          <ul>
            <li>
              All the information in this page is based on common experiences in shopping and dining, as well as language learning resources.
            </li>
          </ul>
        </article>
      </section>
      <button class="btn" id="markReadedBtn">I read it!</button>
    </main>
  </main>
  <script src="../../../../src/assets/scripts/local/tools.js"></script>
  <script src="../../../../src/assets/scripts/local/manuals/shopping_and_food.js"></script>
</body>
</html>
