<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Work and Career Guide</title>
  <link rel="stylesheet" href="../../../../src/assets/styles/manuals/work-career.css">
</head>

<body>
  <main>
    <nav id="navbar">
      <header>Work and Career Guide</header>
      <ul>
        <li><a class="nav-link" href="/src/templates/pages/manual.html" style="background-color: rgb(219, 219, 219);">Back to Manuals</a></li>
        <li><a class="nav-link" href="#work">Work</a></li>
        <li><a class="nav-link" href="#career">Career Development</a></li>
        <li><a class="nav-link" href="#references">References</a></li>
      </ul>
    </nav>
    <main id="main-doc">
      <section class="main-section" id="work">
        <header>Work</header>
        <article>
          <p>
            Work is an essential aspect of life, providing income, purpose, and personal fulfillment. Here are some key considerations related to work:
          </p>
          <ul>
            <li>Finding a job that aligns with your skills, interests, and values</li>
            <li>Creating a productive work environment</li>
            <li>Building positive relationships with colleagues and supervisors</li>
            <li>Managing work-related stress and maintaining work-life balance</li>
            <li>Continuously learning and growing in your role</li>
          </ul>
        </article>
      </section>
      <section class="main-section" id="career">
        <header>Career Development</header>
        <article>
          <p>
            Career development involves planning and strategizing for long-term professional growth and success. Here are some steps to consider for career development:
          </p>
          <ul>
            <li>Setting career goals and objectives</li>
            <li>Identifying opportunities for advancement and skill development</li>
            <li>Seeking mentorship and networking with professionals in your field</li>
            <li>Continuously updating your skills and knowledge through education and training</li>
            <li>Adapting to changes in the job market and industry trends</li>
          </ul>
        </article>
      </section>
      <section class="main-section" id="references">
        <header>References</header>
        <article>
          <ul>
            <li>
              All the information in this page is based on common practices and principles in the field of work and career development.
            </li>
          </ul>
        </article>
      </section>
      <button class="btn" id="markReadedBtn">I read it!</button>
    </main>
  </main>
  <script src="../../../../src/assets/scripts/local/tools.js"></script>
  <script src="../../../../src/assets/scripts/local/manuals/work-career.js"></script>
</body>

</html>
